* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Slab', serif;
}


/* Header Style */

.nav-container {
    display: flex;
    background-color: #3d3d3d;
    color: white;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
}

.nav-menus {
    display: flex;
    gap: 35px;
    align-items: center;
}

.nav-menus li {
    list-style: none;
    cursor: pointer;
}

.nav-menus li:hover {
    color: #f93f3f;
}


/* Banner Section */

.banner-container {
    height: 100vh;
    background-image: url('../asset/image/background.jpg'), linear-gradient(rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0.322));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}


.banner-title {
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.primary {
    color: red;
}

.banner-description {
    color: white;
    padding: 10px;
    width: 75%;
    margin: auto;
    text-align: center;
}

.banner-btn {
    display: flex;
    gap: 12px;
}

.btn {
    padding: 16px 25px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.banner-btn .btn:hover {
    background-color: black;
    color: white;
}

.banner-btn .primary {
    background-color: #f93f3f;
    color: white;
}

.banner-btn .primary:hover {
    background-color: #f81e1e;
}



/* Main section style */


/* Service Section */

.service-container {
    height: 100vh;
    background-image: url('../asset/image/footer-bg.png'), linear-gradient(rgba(0, 0, 0, 0.973), rgba(0, 0, 0, 0.973));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    padding: 130px;
}

.card {
    width: 253px;
    height: 248px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.card-img {
    width: 90px;
    height: 100px;
}

.service-description {
    width: 60%;
    font-size: 15px;
    padding: 12px;
    color: white;
}

.service-list {
    list-style: decimal;
    padding: 22px;
    font-size: 14px;
    color: white;

}

.right-side {

    display: flex;
    flex-direction: column;
    gap: 12px;

}

.all-card {
    display: flex;
    gap: 20px;
}

.btn-service {
    background-color: white;
    color: gray;
    border-radius: 25px;
}

.service-title {
    font-size: 40px;
    font-weight: bold;
    padding: 7px;
    color: rgb(190, 207, 208);
}

.card-title {
    width: 240px;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.profile-left {
    display: flex;
    align-items: center;
    gap: 15px;
    border-right: 2px solid red;
    padding-right: 30px;
}

.profile-picture {
    height: 55px;
    width: 55px;
    border-radius: 25px;
}

.profile-name {
    font-size: 14px;
}

.btn-service {
    color: black;
}

.btn-service:hover {
    outline: 1px solid lightcoral;
    background-color: black;
    color: white;
}

.card:hover {
    background-color: lightcoral;
    color: white;
    cursor: pointer;
}


/* Appointment Section Style */


.logo {
    height: 80px;
    height: 80px;
}

.description {
    font-size: 14px;
}

.number {
    font-size: 35px;
}


.appointment-container {
    display: flex;
    align-items: center;
    width: 70%;
    margin: -90px auto 40px auto;
    padding: 55px;
    background-color: rgb(245, 44, 44);
    justify-content: space-around;
    border-radius: 20px;
    color: white;
}

.left-part {
    display: flex;
    align-items: center;
    gap: 20px;
    border-right: 1px solid white;
    padding-right: 30px;
}

.appointment-description {
    font-size: 14px;
    font-weight: normal;
    width: 486px;
    text-align: justify;
}

.appointment-btn {
    border-radius: 25px;
}

.appointment-btn:hover {
    background-color: black;
    color: white;
}

/* Blog Part Style */


.blog-card-container {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.blog-heading {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.blog-description {
    font-size: 20px;
    width: 50%;
    margin: auto;
    text-align: center;
    font-weight: lighter;
}

.blog-card-container {
    margin-top: 50px;
}

.blog-card {
    width: 337px;
    height: 415px;
    background: white;
    box-shadow: -1px 5px 34px -2px rgba(189, 186, 186, 0.75);
    border-radius: 10px;
    text-align: left;
}

.blog-card:hover {
    cursor: pointer;
    box-shadow: -1px 5px 34px -2px rgba(117, 117, 117, 0.75);
}

.card-text {
    padding: 10px;
    margin-top: 10px;
}

.card-photo {
    width: 100%;
    height: 230px;
    border-radius: 10px 10px 0px 0px;
}

.card-heading {
    font-size: 24px;
    font-weight: bold;
    color: rgb(54, 53, 53);
}

.card-description {
    font-size: 15px;
    color: rgb(76, 72, 72);
    margin-top: 15px;
}

/* Footer Section Style */


footer {
    width: 100%;
    height: 70vh;
    background-image: url("../asset/image/footer-bg.png"), linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    color: white;
}

footer li {
    list-style: none;
}

footer li:hover {
    color: #f93f3f;
}

.footer-wraper {
    display: flex;
    width: 75%;
    height: 60vh;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.footer-logo {
    margin-bottom: 16px;
    cursor: pointer;
}

.footer-description {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 35px;
}


.social-link {
    display: flex;
    gap: 25px;
    height: 26px;
    cursor: pointer;
}

.link {
    margin-bottom: 32px;
    font-size: 17px;
}

.link-list li {
    line-height: 30px;
    cursor: pointer;
    font-size: 14px;
}


.fa-solid {
    margin-right: 12px;
}

footer hr {
    width: 80%;
    margin: auto;
}

.copy {
    margin-top: 25px;
    text-align: center;
    font-size: 12px;
}